header img {
	border-radius: 20%;
	max-width: 7em;
	max-height: 7em;
	min-height: 3em;
	min-width: 3em;
}

header img.bigger-image {
	max-width: 14em;
	max-height: 14em;
	min-height: 7em;
	min-width: 7em;
}

header {
	padding-top: 1.78em;
	margin: 0 auto;
	text-align: center;
}

header .lead {
	padding-left: 0.25em;
	padding-right: 0.25em;
}

header h1 {
	font-size: 2em;
}

header a {
	text-decoration: none;
}

header a:hover {
	text-decoration: none;
}

header ul {
	padding: 0px;
	margin: 5px;
}

header ul li {
	display: inline;
	padding: 5px 10px;
	font-size: 1.2em;
}

header ul li:first-child {
	border-left: 0px;
	padding-left: 0px;
}

header p {
	font-size: 1.14em;
	font-weight: normal;
	line-height: 1.2em
}
