html, body {
	margin: 0 auto;
	padding: 0;
	min-width: 500px;
	margin-bottom: 25px;
	color: #2e3436;
	background-color: #eeeeec;
}

.content-header {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

header {
	min-height: 260px;
}

footer {
	margin-top: 50px;
	margin-bottom: 75px;
	text-align: center;
	color: #babdb6;
}
