html, body {
	margin: 0 auto;
	padding: 0;
	margin-bottom: 1.75em;
	color: #2e3436;
	background-color: #eeeeec;
}

.content-header {
	text-align: center;
	margin-top: 3.75em;
	margin-bottom: 2.14em;
}

header {
	min-height: 18em;
}

footer {
	margin-top: 3.75em;
	margin-bottom: 5.30em;
	text-align: center;
	color: #babdb6;
}