header img {
	border-radius: 100%;
	max-width: 125px;
	max-height: 125px;
	min-height: 50px;
	min-width: 50px;
}

header {
	padding-top: 25px;
	margin: 0 auto;
	text-align: center;
}

header h1 {
	font-size: 22px;
}

header a {
	text-decoration: none;
}

header ul {
	padding: 0px;
	margin: 5px;
}

header ul li {
	display: inline; 
	padding: 5px 10px;
	font-size: 18px;
}

header ul li:first-child {
	border-left: 0px; 
	padding-left: 0px;
}

header p {
	font-size: 16px;
	font-weight: normal;
	line-height: 18px
}